*.orig
*.o
src/basename/basename
src/cat/cat
src/true/true
compat/libcompat.a
src/chroot/chroot
src/comm/comm
src/csplit/csplit
src/dirname/dirname
src/echo/echo
src/expand/expand
src/unexpand/unexpand
Makefile.bsd
src/false/false
src/fmt/fmt
