*.la
*.lo
*.o
*.orig
.*.swp
.deps
.libs
Makefile
Makefile.bsd
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
compile
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
m4
missing
src/arch/arch
src/basename/basename
src/cat/cat
src/chmod/chmod
src/chroot/chroot
src/comm/comm
src/cp/cp
src/csplit/csplit
src/cut/cut
src/date/date
src/dd/dd
src/df/df
src/dirname/dirname
src/du/du
src/echo/echo
src/env/env
src/expand/expand
src/expr/expr
src/factor/factor
src/false/false
src/fmt/fmt
src/fold/fold
src/head/head
src/id/id
src/join/join
src/ln/ln
src/logname/logname
src/ls/ls
src/mkdir/mkdir
src/mknod/mknod
src/mktemp/mktemp
src/mv/mv
src/nice/nice
src/nl/nl
src/nohup/nohup
src/paste/paste
src/pr/pr
src/printenv/printenv
src/printf/printf
src/pwd/pwd
src/readlink/readlink
src/rm/rm
src/rmdir/rmdir
src/sleep/sleep
src/sort/sort
src/split/split
src/stat/stat
src/stty/stty
src/sync/sync
src/tail/tail
src/tee/tee
src/test/test
src/touch/touch
src/tr/tr
src/true/true
src/tsort/tsort
src/tty/tty
src/uname/uname
src/unexpand/unexpand
src/uniq/uniq
src/users/users
src/wc/wc
src/who/who
src/xargs/xargs
src/xinstall/xinstall
src/yes/yes
stamp-h1
