*.la
*.lo
*.o
.*.swp
.deps
.libs
Makefile
Makefile.in
aclocal.m4
arch
autom4te.cache
autoscan.log
basename
cat
chmod
chroot
comm
compile
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
configure.scan
cp
csplit
cut
date
dd
depcomp
dirname
du
echo
env
expand
expr
factor
false
fmt
fold
head
id
install-sh
join
libtool
ln
log
logname
ls
ltmain.sh
m4
missing
mkdir
mknod
mktemp
mv
nice
nl
nohup
paste
pr
printenv
printf
pwd
readlink
rm
rmdir
sleep
sort
split
stamp-h1
stat
stty
sync
tail
tee
test
touch
tr
true
tsort
tty
uname
unexpand
uniq
users
wc
who
xargs
xinstall
yes
